$primary: #2A6CEA;
$color-green: #00FF00;
$black: #191C1F;
$dark-gray: #5E646A;
$gray: #83898F;
$mid-grey: #C2C8CD;
$light-gray: #ECEFF2;
$extralight-gray: #F6F8FA;
$white: #FFFFFF;
$dangerous: #F13636;
$green-success: #25CD82;
$primary-hover: #397DFF;
$primary-disabled: #ABCAE6;