@media(max-width: 991px) {
    .rewiews {
        &__wrap {
            padding: 0 53px;
        }
    }
}
@media(max-width: 768px) {
    .rewiews {
        padding-top: 33px;
        .swiper-button-next, .swiper-button-prev {
            display: none;
        }
        &__wrap {
            padding: 0;
        }
    }
}